@model  MertProje.Data.ViewDataİletisimBilgileri
<section class="iletisimSection">
    <div class="col2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195884.7199739243!2d32.76276475!3d39.903376550000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347d520732db1%3A0xbdc57b0c0842b8d!2sAnkara!5e0!3m2!1str!2str!4v1699568707669!5m2!1str!2str" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col2">
        <h1>İletisim Bilgileri</h1>
        <p>Adres:</p>
        <h2>@Model.FirmaAdres.FirmaAdres</h2>
        <p>Telefon:</p>
        <h2>@Model.FirmaAdres.FirmaTelefon</h2>
        <p>Mail:</p>
        <h2>@Model.FirmaAdres.FirmaMail</h2>
    </div>
</section> 