@model ViewDataİletisimBilgileri
<link rel="stylesheet" href="~/css/site.css" />
<footer style="width: 100%;" >
    <div class="col3">
        <span>Bize Ulaşın</span>
        <p>@Model.FirmaAdres.FirmaAdres</p>
        <p>@Model.FirmaAdres.FirmaTelefon</p>
        <p>@Model.FirmaAdres.FirmaMail</p>
    </div>
    
    <div class="col3">
        <span>Hizmetler</span>
        <p>İnşaat</p>
        <p>Proje</p>
        <p>Takip</p>
    </div>
</footer>
