<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRİGHT YAZILIM</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/AdminPanel.css" />
</head>

<body>
    @await Html.PartialAsync("_Navbar")
    @await Html.PartialAsync("_Body")
    @await Html.PartialAsync("_AdminPaneliPartial")
    @RenderBody()
</body>

</html>

