@model AnasayfaModel
<link rel="stylesheet" href="~/css/SiteUpdateForm.css"/>
<section class="iletisimForm">
    <form asp-action="AnasayfaCreate" method="post" enctype="multipart/form-data">
        <h3>Anasayfa Güncelle Formu</h3>
        <div class="form-container11">
            <div class="input-file-container22">
                <label asp-for="Anasayfaİmage1" class="file-label">Resim 1: Dosya Seç</label>          
            </div>
            @if (Model != null && Model.Anasayfaİmage1 != null)
            {
                <img src="~/img/@Model.Anasayfaİmage1" class="selected-image" id="selectedImage1" alt="Selected Image 1">
            }
            <input asp-for="Anasayfaİmage1" type="file" name="Anasayfaİmage1" id="Anasayfaİmage1" />
            <div class="input-file-container33">
                <label asp-for="Anasayfaİmage2" class="file-label">Resim 2: Dosya Seç</label>
              
            </div>
            @if (Model != null && Model.Anasayfaİmage2 != null)
            {
                <img src="~/img/@Model.Anasayfaİmage2" class="selected-image" id="selectedImage2" alt="Selected Image 2">
            }
            <input asp-for="Anasayfaİmage2" type="file" name="Anasayfaİmage2" id="Anasayfaİmage2" />
            <label asp-for="AnasayfaBaşlık1">Başlık 1:</label>
            <input asp-for="AnasayfaBaşlık1" type="text" name="AnasayfaBaşlık1"/>
          
            <label asp-for="AnasayfaBaşlık2">Başlık 2:</label>
            <input asp-for="AnasayfaBaşlık2" type="text" name="AnasayfaBaşlık2"/>

            <label asp-for="AnasayfaAçıklama1">Açıklama 1:</label>
            <textarea asp-for="AnasayfaAçıklama1" name="AnasayfaAçıklama1" rows="9"></textarea>

            <label asp-for="AnasayfaAçıklama2">Açıklama 2:</label>
            <textarea asp-for="AnasayfaAçıklama2" name="AnasayfaAçıklama2" rows="9"></textarea>
        </div>
        <div class="button-container44">
            <button type="submit">Güncelle</button>
        </div>
    </form>

<!-- java script kodları şeçilen resmi getirmek için -->

<!-- Java script kodları şeçilen resmi göstermek için -->
<script>
    // Resim 1 için
    document.getElementById("Anasayfaİmage1").addEventListener("change", function () {
        showSelectedImage("Anasayfaİmage1", "selectedImage1");
    });

    // Resim 2 için
    document.getElementById("Anasayfaİmage2").addEventListener("change", function () {
        showSelectedImage("Anasayfaİmage2", "selectedImage2");
    });

    function showSelectedImage(inputId, imgId) {
        const input = document.getElementById(inputId);
        const img = document.getElementById(imgId);

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                img.setAttribute("src", e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            img.src = "";
        }
    }
</script>


