@model AnasayfaModel
<section style="margin-top: 40px;" class="ContentAndFoto">
    <div class="col2">
        <div class="TitleAndContent">
            <h2>@Model.AnasayfaBaşlık1</h2>
            <p>@Model.AnasayfaAçıklama1</p>
        </div>
    </div>
    <div class="col2">
        <img style="height: 335px;" src="~/img/@Model.Anasayfaİmage1"/>
    </div>
</section>

<section class="ContentAndFoto">
    <div class="col2">
        <img style="height: 400px;"src="~/img/@Model.Anasayfaİmage2"/>
    </div>
    <div class="col2">
        <div class="TitleAndContent">
            <h2>@Model.AnasayfaBaşlık2</h2>
            <p> @Model.AnasayfaAçıklama2</p>
        </div>
    </div>
</section>
</section>

