@model IEnumerable<MertProje.Models.BlogModel>
<script src="../js/blog.js"></script>
<link rel="stylesheet" href="~/css/bloglar.css"/>
<h1 class="bloglarTitle">Bloglar</h1>

<section class="bloglarSection"> 
  <div class="container1">
      @foreach (var item in Model)
      {
       
        <div class="box">
          <img class="blogResim" src="~/img/@item.Blogİmage" alt="Sample Image 1">
          <p>
         <h3>@item.BlogBaşlık</h3>
         @item.BlogAçıklama
        </p>
          <p class="hidden hidden1">bu bir blog yazısının devam metnidir kapatmak için butona basınız</p>
          <div class="blogTarih">@item.BlogTarih</div>
          <button class="read-more-button read-more-button1">TAMAMINI OKU</button>
        </div>    
      }
    </div>
  </section>
 
